a {
  color: black;
}

.colophon__body {
  width: 50vw;
  align-items: flex-start;
}

.colophon__body a {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #4B9CD3;
  transition: border-bottom 0.1s;
}

.colophon__body a:after { 
  display: block;
  content: '';
  border-bottom: solid 3px #4B9CD3;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out; 
  transform-origin:  0% 50%;
}

.colophon__body a:hover:after {
  transform: scaleX(1); 
}

.colophon__body img {
  width: 5vw;
  margin: 5vh auto 2vh auto;
}