body {
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__links {
  justify-content: space-around;
  width: 80vw;
  list-style: none;
  color: black;
}

.nav__links li a, .home__text a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
  color: black;
  transition: border-bottom 0.1s;
}

.home__text a {
  font-weight: bold;
}

.home__text img {
  height: 70vh;
}


.nav__links li a:after, .home__text a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #447BBE;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out; 
  transform-origin:  0% 50%;
}

.nav__links li a:hover:after, .home__text a:hover:after {
  transform: scaleX(1); 
}

.home__text {
  max-width: 80vw;
}

