.unc circle {
  fill: #4B9CD3;
}

.duke circle {
  fill: #012169;
}

.wakemed circle {
  fill: crimson;
}

.tooltip {
  width: 300px;
  height:200px;
  background: white;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.45);
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.tooltip-content {
  overflow-y: scroll;
}

.tooltip-tail {
  width: 1px;
  border-top: 15px solid white;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  top: 200px;
  left: 135px;
}