.unc circle {
    fill: cornflowerblue;
}

.duke circle {
    fill: navy;
}

.wakemed circle {
    fill: crimson;
}

.tooltip {
    width: 300px;
    height: 200px;
    background: white;
    box-shadow: 2px 2px 3px rgba(0,0,0,.45);
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right-justified {
    text-align: right;
}

.center-justified {
    text-align: center;
}

.tooltip-content .header {
    font-size: .7rem;
}

.tooltip-content .value {
    text-transform: capitalize;
}

.tooltip-tail {
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    width: 1px;
    top: 200px;
    left: 130px;
}

.all-charts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.description {
    width: 250px;
    overflow: hidden;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chart-container {
    padding: 1rem;
    margin:.33rem;
    border: solid #edeeef 1.5px;
    border-radius: 10px;
}

.all-charts{
    margin-top: 5vh;
    margin-left: 1rem;
}

.main-header{
    margin-top: 5vh;
}